{% extends "index.html"%}
{% block content %}
<h1 class="animated fadeIn"> No sorry...that's not Nicolas Cage... </h1>
<div style='position:relative; padding-bottom:calc(72.20% + 44px)'><iframe
                src='https://gfycat.com/ifr/BlindQualifiedHydra' frameborder='0' scrolling='no' width='100%'
                height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
<p><a href="https://gfycat.com/discover/nick-cage-gifs">from Nick Cage GIFs</a> <a
                href="https://gfycat.com/blindqualifiedhydra-nicolas-cage-im14andthisisdeep">via Gfycat</a></p>
{% endblock %}